USE [master]
GO
/****** Object:  Database [TaskManagerDB]    Script Date: 24-04-2026 19:26:37 ******/
CREATE DATABASE [TaskManagerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TaskManagerDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskManagerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TaskManagerDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagerDB]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsCompleted] [bit] NULL DEFAULT ((0)),
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Title], [Description], [IsCompleted], [UserId], [CreatedAt]) VALUES (2005, N'Fix login validation bug', N'Resolve issue with incorrect login handling', 0, 1002, CAST(N'2026-04-22 18:32:54.567' AS DateTime))
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [IsCompleted], [UserId], [CreatedAt]) VALUES (2006, N'Implement JWT authentication', N'Secure API endpoints using JWT', 1, 1002, CAST(N'2026-04-19 18:32:54.567' AS DateTime))
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [IsCompleted], [UserId], [CreatedAt]) VALUES (2007, N'Optimize database queries', N'Improve performance of SQL queries', 0, 1002, CAST(N'2026-04-24 18:32:54.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tasks] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [CreatedAt]) VALUES (1002, N'gaurav', N'$2a$11$4Sz0RQDUOoPkgRkFbBD0YecF9v.Oh.yQ1xbdIPLeTPj3VPsdW5mWe', N'gaurav@company.com', CAST(N'2026-04-24 18:31:36.523' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [CreatedAt]) VALUES (1003, N'john.doe', N'$2a$11$dummyhash1', N'john.doe@company.com', CAST(N'2026-04-24 18:31:36.523' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [CreatedAt]) VALUES (1004, N'qa.engineer', N'$2a$11$dummyhash2', N'qa@company.com', CAST(N'2026-04-24 18:31:36.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Tasks_IsCompleted]    Script Date: 24-04-2026 19:26:37 ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_IsCompleted] ON [dbo].[Tasks]
(
	[IsCompleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_UserId]    Script Date: 24-04-2026 19:26:37 ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_UserId] ON [dbo].[Tasks]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__536C85E4B41FD981]    Script Date: 24-04-2026 19:26:37 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTask]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_CreateTask]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @NewId INT OUTPUT
AS
BEGIN
    INSERT INTO Tasks (Title, Description)
    VALUES (@Title, @Description);
    SET @NewId = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTask]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_DeleteTask]
    @Id INT
AS
BEGIN
    DELETE FROM Tasks WHERE Id = @Id;
    SELECT @@ROWCOUNT;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTasks]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_GetAllTasks]
AS
BEGIN
    SELECT Id, Title, Description, IsCompleted, CreatedAt FROM Tasks ORDER BY CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetTaskById]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_GetTaskById]
    @Id INT
AS
BEGIN
    SELECT Id, Title, Description, IsCompleted, CreatedAt FROM Tasks WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetTasksByUser]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTasksByUser]
@UserId INT
AS
BEGIN
    SELECT * FROM Tasks WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Tasks_Delete]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tasks_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Tasks WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Tasks_GetAll]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tasks_GetAll]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Title, Description, IsCompleted, CreatedAt
    FROM Tasks
    WHERE UserId = @UserId
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Tasks_GetById]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tasks_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Title, Description, IsCompleted, CreatedAt
    FROM Tasks
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Tasks_Insert]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tasks_Insert]
    @Title NVARCHAR(100),
    @Description NVARCHAR(500),
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Tasks (Title, Description, UserId)
    VALUES (@Title, @Description, @UserId);

    SELECT SCOPE_IDENTITY() AS NewTaskId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Tasks_Update]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Tasks_Update]
    @Id INT,
    @Title NVARCHAR(100),
    @Description NVARCHAR(500),
    @IsCompleted BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Tasks
    SET Title = @Title,
        Description = @Description,
        IsCompleted = @IsCompleted
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTask]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_UpdateTask]
    @Id INT,
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @IsCompleted BIT
AS
BEGIN
    UPDATE Tasks
    SET Title = @Title,
        Description = @Description,
        IsCompleted = @IsCompleted
    WHERE Id = @Id;
    SELECT @@ROWCOUNT;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Users_GetByUsername]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Users_GetByUsername]
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Username, PasswordHash, Email
    FROM Users
    WHERE Username = @Username;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Users_Insert]    Script Date: 24-04-2026 19:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Users_Insert]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Users (Username, PasswordHash, Email)
    VALUES (@Username, @PasswordHash, @Email);

    SELECT SCOPE_IDENTITY() AS NewUserId;
END
GO
USE [master]
GO
